<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <router-link class="nav-item nav-link" :to="{name: 'home'}">Home</router-link>
                    <router-link class="nav-item nav-link" :to="{name: 'desk'}">Desk</router-link>
                </div>
            </div>
        </nav>

        <div>
            <div>
                <router-view/>
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>
